/* Removes all the stupid things from browser and makes sure everything fits well. */
*,  *::before, *::after  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

body {
    min-height: 100vh;
    color: #3E4042;
    font-family: "Poppins", serif;
    background: #EAE6E5;
}

/* Makes sure that images always fit and are visible. */
img, picture, svg, video {
    display: block;
    max-width: 100%;
}

/* Makes sure that all clickable have a pointer cursor. */
label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
    cursor: pointer;
}

.flex_center {
    display: flex;
    justify-content: center;
}

.hide_mobile {
    display: none;
}

@font-face {
    font-family: 'koekoek';
    src: url('/assets/fonts/Museo700-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

button {
    display: inline-block;

    border: 2px solid #3E4042;
    border-radius: 15px;
    padding: 15px 25px;

    font-style: italic;
    text-decoration: none;
    color: #3E4042;
    background: #e6b400;
}

.header {
    font-weight: bold;
    font-size: 2em;
    font-family: "koekoek", serif;
}

.divider {
    border-bottom: 1px solid #3E4042;
    height: 1px;
    width: 80%;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* after tablet width */
@media (min-width: 768px) {
    .hide_mobile {
        display: block;
    }

    .only_show_mobile {
        display: none;
    }
}