body {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;

    background: #818181;
    color: white;

    padding: 25px;

    .upper {
        display: flex;
        flex-direction: column;
        gap: 25px;

        width: 100%;

        .list_section {
            display: flex;
            flex-direction: column;

            width: 100%;

            a {
                color: #c7c7c7;
                text-decoration: none;
                width: fit-content;
                font-size: 1.2em;
            }

            a:hover {
                color: #e6b400;
            }
        }

        .list_section:nth-child(even) {
            align-items: end;
        }
    }

    .lower {
        width: 100%;
        padding: 15px 0;
        color: #c7c7c7;

        a {
            color: #e6c0db;
            text-decoration: none;
            font-style: italic;
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;

    overflow: auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;
    max-width: 1400px;

    margin: auto;
    padding: 20px 0;

    .logo {
        height: 100%;
        width: 100%;
        padding: 0 25px;

        img {
            height: 100%;
        }
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        margin-top: 25px;

        .mobile_menu {
            display: flex;
            flex-direction: column;
            align-items: center;

            width: 100%;

            a {
                width: 100%;
                padding: 10px 0;

                background: #cecece;
                text-align: center;
                color: inherit;
                text-decoration: none;
            }
        }

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 25px;

            width: 50%;

            list-style-type: none;

            li {
                a {
                    display: block;
                    padding: 15px 25px;
                    text-decoration: none;
                    color: inherit;
                }

                a.selected {
                    text-decoration: underline;
                    font-weight: bold;
                }
            }
        }
    }

    .quick {
        width: 100%;
        margin-top: 15px;

        align-items: center;
        padding: 0 25px;

        span {
            width: 50%;
            text-align: center;
        }

        button {
            width: 50%;

            padding: 10px 15px;
            border: 2px solid #3E4042;
            border-radius: 15px;
        }
    }
}

main {
    .content {
        display: flex;
        flex-direction: column;
        gap: 25px;

        .text_container {

        }
    }
}
