body {
    font-weight: bold;
    font-size: 12px;
    font-family: "koekoek", serif;
}

header {
    display: flex;
    align-items: flex-end;

    position: absolute;
    width: 100%;
    z-index: 2;

    background: var(--black);

    height: 120px;

    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 8px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;

        .mobile_nav_button {
            display: flex;
            align-items: center;
            justify-content: center;

            cursor: pointer;

            aspect-ratio: 1;
        }
    }
}

nav.mobile {
    transition: height 0.10s ease-in-out, padding 0.10s ease-in-out;
    overflow: hidden;
    overflow-y: auto;
    user-select: none;

    height: 0;
    width: 100%;

    background: var(--black);

    position: absolute;
    z-index: 2;

    .item {
        display: flex;
        flex-direction: column;
        font-size: 32px;

        .text {
            display: flex;
            width: 100%;
            justify-content: space-between;

            cursor: pointer;
        }

        .children {
            transition: max-height 0.2s ease-in-out;
            overflow: hidden;

            max-height: 0;
            padding-left: 8px;

            .item {
                font-size: 24px;
            }
        }

        .children.active {
            max-height: 500px;
        }
    }
}

nav.mobile.active {
    height: calc(100vh - 120px);
    padding: 40px 24px 0;
}

main {
    background: var(--black);
    min-height: 120px;

    height: calc(600px - 120px);

    padding: 40px 24px;

    .blur_circle {
        position: absolute;
        top: 0;
        left: -100px;

        width: 300px;
        height: 300px;

        background: #2d2b5c;
        border-radius: 50%;
        filter: blur(50px);
        opacity: 0.7;
    }
}

footer {
    padding: 24px;

    .socials {
        display: flex;
        gap: 8px;

        .social {
            width: 16px;
            height: 16px;
            background: var(--gray);

            border-radius: 50%;
        }
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
